.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: linear-gradient(to bottom right, $cyan, $blue);
  color: $white;
  font-family: $raleway;
  font-weight: $bold;
  padding: 16px;
  text-align: center;
  border-radius: 25px;
  min-width: 200px;
  z-index: 9;
}

.btn-link {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  font-family: $raleway;
  font-weight: $bold;
  font-size: 1rem;
  color: $cyan;

  span {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
  }
}
